
JamProject/Temp/

JamProject/Library/

*.ide-wal

*.cache

*.ide-shm

*.ide

*.csproj

*.lock

JamProject/\.vs/JamProject/DesignTimeBuild/\.dtbcache

JamProject/\.vs/JamProject/v15/\.suo

JamProject/\.vscode/ipch/a0b71a9ad13c03ee/OPSYSHW3\.ipch

JamProject/\.vscode/ipch/a0b71a9ad13c03ee/mmap_address\.bin
